[submodule "deps/dcdpr-libbech32"]
	path = deps/dcdpr-libbech32
	url = https://github.com/dcdpr/libbech32
[submodule "deps/nlohmann-json"]
	path = deps/nlohmann-json
	url = https://github.com/nlohmann/json
[submodule "deps/bitcoin-core-libsecp256k1"]
	path = deps/bitcoin-core-libsecp256k1
	url = https://github.com/bitcoin-core/secp256k1
[submodule "deps/gabime-spdlog"]
	path = deps/gabime-spdlog
	url = https://github.com/gabime/spdlog
[submodule "deps/p-ranav-argparse"]
	path = deps/p-ranav-argparse
	url = https://github.com/p-ranav/argparse
[submodule "deps/h2o-picotest"]
	path = deps/h2o-picotest
	url = https://github.com/h2o/picotest
[submodule "deps/jtv-libpqxx"]
	path = deps/jtv-libpqxx
	url = https://github.com/jtv/libpqxx
[submodule "deps/unetworking-uwebsockets"]
	path = deps/unetworking-uwebsockets
	url = https://github.com/uNetworking/uWebSockets.git
[submodule "deps/unetworking-usockets"]
	path = deps/unetworking-usockets
	url = https://github.com/uNetworking/uSockets.git
