[submodule "deps/dcdpr-libbech32"]
	path = deps/dcdpr-libbech32
	url = https://github.com/dcdpr/libbech32
[submodule "deps/nlohmann-json"]
	path = deps/nlohmann-json
	url = https://github.com/nlohmann/json
[submodule "deps/matheus28-ws28"]
	path = deps/matheus28-ws28
	url = https://github.com/Matheus28/ws28
[submodule "deps/libuv-libuv"]
	path = deps/libuv-libuv
	url = https://github.com/libuv/libuv
[submodule "deps/bitcoin-core-libsecp256k1"]
	path = deps/bitcoin-core-libsecp256k1
	url = https://github.com/bitcoin-core/secp256k1
